/* Global CSS */
*{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
.global-margin{
    margin: 50px 150px;
}

/* Banner Section CSS */
.banner-section {
    background-image: url(../imge/Banner\ Image.png);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
}
.banner-section .banner-content{
     padding: 15%;
}
.banner-section .banner-content h4{
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.banner-section .banner-content h1{
    color: #fff;
    font-size: 80px;
    text-align: center;
}

/* Discount Section CSS */
.discount-section{
    display: flex;
    justify-content: center;
}
.discount-content h1,h3,h6{
    text-align: center;
}
.discount-content h1 {
    color: #FF0000;
    font-size: 90px;
    margin: 35px 0px;
}
.discount-content h6 {
    color: #FF0000;
    font-size: 15px;

}
.discount-content h3 {
    font-size: 30px;
    margin: 10px 0px 50px 0px;
}
.discount-img{
    margin-bottom: 50px;
}
/* Party section CSS */
.party-section{
   background-image: url(../imge/Vectorrr.png);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;

}
.party-content {
    padding: 9% 20% 0% 6%;
}
.party-content h1{
    font-size: 60px;
    color: #fff;
}
.party-content p {
    font-size: 18px;
    color: #fff;
    margin: 15px 0;
}
.party-img img{
    display: flex;
    margin-right: 0;
}
.btn {
    border: #FF0000 1px solid;
    background: #FF0000;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}
.btn:hover{
    background-color: #8B1F9B;
    border-color: #8B1F9B;
    transition: all 0.3s ease-in-out;
}
.btn a{
    color: #fff;
    text-decoration: none;
}